# Test report

## Summary

This is test report about two peneration tests. First version of the app have some alerts, but second did not have anything alerts. Thought there is a mistake, but after running app different ways and using different peneration settings, I am sure there is no alerts found.

## Findings and Categorization

First Test Results:
| Risk Level | Subject | Short Description |
| :---         |     :---:      |     :---:      |
| Medium | Content Security Policy (CSP) Wildcard Directive |  |
| Medium | Content Security Policy (CSP) Header Not Set |  |
| Medium | Missing Anti-clickjacking Header |  |
| Low | Application Error Disclosure |  |
| Low | X-Content-Type-Options Header Missing |  |
| Informational | User Controllable HTML Element Attribute (Potential XSS) |  |

Second Test Results:
| Risk Level | Subject | Short Description |
| :---         |     :---:      |     :---:      |
|  |  |  |

## Appendices (Liitteet)

- ZAP report: Report.md
- ZAP report: Report2.md
